*{padding: 0; margin: 0; box-sizing: border-box;}
button{border: none; background-color: transparent; outline: none;}
ul,li{list-style: none;}
@font-face {
    font-family: "Digital7";
    src: url(./font/digital-7.ttf);
}

#title{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 8px 0;
}

.container{
    text-align: center;
    display: flex;
}

#calculator{
    width: 320px;
    margin: 36px auto;
    background-color: rgb(197, 197, 197);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 16px gray;
}

#result{
    background-color: rgb(25, 25, 25);
    grid-column: 1/5;
    padding: 8px;
    height: 100px;
}

#screen{
    width: 100%;
    height: 100%;
    background-color: rgb(137, 164, 94);
    border-radius: 8px 8px 0 0;
    text-align: end;
    font-size: 72px;
    outline: none;
    border: none;
    font-family: 'Digital7';
}
#buttons{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px 8px;
    padding: 8px 8px 16px 8px;
}
#buttons>*:nth-child(16){ 
    grid-column: 4/5;
    grid-row: 4/6;
}
#buttons>*:nth-child(17){border-bottom-left-radius: 4px;}

#buttons>button{
    background-color: #ff8928;
    border-radius: 4px;
    box-shadow: 0 8px #c46b22;
    font-size: 32px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
#buttons>button:active{
    transform: translateY(4px);
    box-shadow: 0 4px #c46b22;
}

#calculatedNumberList{
    display: none;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid gray;
}
#calculatedNumberList>li{
    font-size: 32px;
    font-family: 'Digital7';
    padding: 8px 0;
    border: 1px solid gray;
}